<div class="footer site-section pb-0 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="site-logo-footer">
          <a href="{{ '/' | relative_url }}" class="text-white">TechSight</a>
        </div>
      </div>
      <div class="col-md-8 ml-auto">
        <div class="row">
          <div class="col-md-8 ml-auto">
            <h3 class="footer-heading mb-4 text-uppercase">Contact Info</h3>
            <ul class="list-unstyled links">
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
